In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_FNT = pd.read_excel('STG_FNT_ITT.xlsx', delimiter = ';')
df_MVT = pd.read_excel('STG_MVT_CRD.xlsx',delimeter = ';')

In [3]:
df_FNT

,ID_STG_FNT_ITT,NUM_CNPJ,NUM_CMP_CNPJ,NOM_COM,NOM_RAZ_SCL,DAT_INC_DBO
0,137,2427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
1,183,12182674487,2635,NMN,NMN,2019-12-19 13:43:41.914
2,197,16167328168,1802,NMN,NMN,2019-12-19 13:43:41.914
3,267,279925978,2329,NMN,NMN,2019-12-19 13:43:41.914
4,322,20579036860,2397,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
1003,87,11901046588,1972,NMN,NMN,2019-12-19 13:43:41.914
1004,105,17765603364,13056,NMN,NMN,2019-12-19 13:43:41.914
1005,118,17765603364,165138,NMN,NMN,2019-12-19 13:43:41.914
1006,124,17765603364,238697,NMN,NMN,2019-12-19 13:43:41.914
1007,125,17765603364,250206,NMN,NMN,2019-12-19 13:43:41.914

In [9]:
any(df_FNT.groupby(by='NUM_CNPJ').size()>1)

True

In [11]:
df_MVT

,ID_STG_MVT_CRD,VLR_SDO_UTZ_CRD_RTO,VLR_TOT_FAT,VLR_MIM_FAT,VLR_PCL_FAT,QTD_CLI_CAD_POS,QTD_MVT,DES_TIP_PSS,ID_FNT_ITT,COD_MDL,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,NaN,NaN,4.595517e+10,37186,677272,F,67,C01,2020-01-16,2020-01-17 17:49:17.524
1,2,NaN,NaN,NaN,7.387237e+10,307070,2741111,F,67,B99,2020-01-16,2020-01-17 17:49:17.524
2,3,NaN,NaN,NaN,2.868181e+09,601,1964,F,67,B01,2020-01-16,2020-01-17 17:49:17.524
3,4,NaN,NaN,NaN,6.111251e+10,18820,244041,F,67,B03,2020-01-16,2020-01-17 17:49:17.524
4,5,NaN,NaN,NaN,2.152609e+06,2,4,F,67,F01,2020-01-16,2020-01-17 17:49:17.524
5,6,NaN,NaN,NaN,4.607337e+08,33,329,F,67,B07,2020-01-16,2020-01-17 17:49:17.524
6,7,NaN,NaN,NaN,2.638331e+11,721836,10020532,F,67,A04,2020-01-16,2020-01-17 17:49:17.524
7,8,NaN,NaN,NaN,1.838029e+11,135773,1797516,F,67,B05,2020-01-16,2020-01-17 17:49:17.524
8,9,NaN,NaN,NaN,9.738713e+08,5061,38003,F,67,A05,2020-01-16,2020-01-17 17:49:17.524
9,10,2.181758e+10,NaN,NaN,NaN,194378,194921,F,67,E01,2020-01-16,2020-01-17 17:49:17.524
10,11,NaN,NaN,NaN,9.496722e+09,1890,123559,F,67,G01,2020-01-16,2020-01-17 17:49:17.524
11,12,NaN,NaN,NaN,3.556795e+11,494442,19241809,F,67,A01,2020-01-16,2020-01-17 17:49:17.524
12,13,NaN,NaN,NaN,1.834447e+09,46495,230867,F,67,A99,2020-01-16 00:00:00,2020-01-17 17:49:17.524
13,14,NaN,NaN,NaN,1.733950e+08,43,330,F,67,B06,2020-01-16,2020-01-17 17:49:17.524
14,15,NaN,1.932767e+12,6.071738e+11,NaN,1840240,21748501,F,67,D01,2020-01-16,2020-01-17 17:49:17.524

In [6]:
df_MVT.isnull().sum()

ID_STG_MVT_CRD          0
VLR_SDO_UTZ_CRD_RTO    14
VLR_TOT_FAT            14
VLR_MIM_FAT            14
VLR_PCL_FAT             2
QTD_CLI_CAD_POS         0
QTD_MVT                 0
DES_TIP_PSS             0
ID_FNT_ITT              0
COD_MDL                 0
DAT_RSS_FNT_ITT         0
DAT_INC_DBO             0
dtype: int64

In [7]:
df_FNT.isnull().sum()

ID_STG_FNT_ITT    0
NUM_CNPJ          0
NUM_CMP_CNPJ      0
NOM_COM           0
NOM_RAZ_SCL       0
DAT_INC_DBO       0
dtype: int64